@font-face {
    font-family: 'Montserrat';
    src:
    	local('Montserrat'),  
    	url('../fonts/Montserrat/montserrat-thin-webfont.woff2') format('woff2'),
        url('../fonts/Montserrat/montserrat-thin-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src:
    	local('Montserrat'), 
    	url('../fonts/Montserrat/montserrat-regular-webfont.woff2') format('woff2'),
        url('../fonts/Montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat - Ultra Light';
    src:
    	local('Montserrat - Ultra Light'), 
    	url('../fonts/Montserrat/montserrat-extralight-webfont.woff2') format('woff2'),
        url('../fonts/Montserrat/montserrat-extralight-webfont.woff') format('woff');
    font-weight: 400l;
    font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
       url('../fonts/Raleway/Raleway-Bold.woff') format('woff'),
       url('../fonts/Raleway/Raleway-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
       url('../fonts/Raleway/Raleway-Medium.woff') format('woff'),
       url('../fonts/Raleway/Raleway-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway - Extra Bold';
  src: local('Raleway - Extra Bold'),
       url('../fonts/Raleway/Raleway-ExtraBold.woff') format('woff'),
       url('../fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway - Semi Bold';
  src: local('Raleway - Semi Bold'),
       url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff'),
       url('../fonts/Raleway/Raleway-SemiBold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/*@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
src: local('Awesome Font'),
url('/fonts/awesome.woff2') format('woff2'),
url('/fonts/awesome.woff') format('woff'),
url('/fonts/awesome.ttf') format('ttf'),
url('/fonts/awesome.eot') format('eot');
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;

@font-face {
	font-family: "Raleway - Extra Bold";
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Raleway - Semi Bold";
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'montserrat';
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Montserrat - Ultra Light";
	font-style: normal;
	font-weight: 400;
}*/

/*
*{
    box-sizing: border-box;
}

*::before, ::after {
    box-sizing: border-box;
}
*/
body {
    /*font-family: "Arial MT";*/
}

.container {
	max-width: 1920px;
    margin: 0 auto;
}

.header {
	min-height: 1024px;
	background-image: url(../img/photo_bg.jpg);
	background-color: #474540;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	padding: 40px 0;
	position: relative;
}

.navigation {
	display: flex;
	justify-content: space-around;
}

.menu__list {
	display: flex;
}

.menu__list-item {
	list-style-type: none;
	padding: 0 30px 0 0;
}

.menu__list-item:nth-child(9) {
	padding-left: 60px;
}

.menu__list-link {
	/* Style for "Home" */
	color: #ffffff;
	font-family: 'montserrat';
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;

	text-decoration: none;
}

.menu__list-link:hover,
.menu__list-link:focus {
	color: #c7b299;
}

.icon-cart, 
.icon-search {
	fill: #ffffff;
}

.icon-cart:hover, 
.icon-search:hover {
	fill: #c7b299;
}

.icon-cart:focus, 
.icon-search:focus {
	fill: #c7b299;
}

.slider__text {
	padding-top: 280px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.slider__text-item-1 {
	/* Style for "Unique and" */
	color: #ffffff;
	font-family: Raleway;
	font-size: 36px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
	/* Text style for "Unique and" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;

	margin: 0;
	flex-basis: 100%;
}

.slider__text-title {
	/* Style for "Portfolio" */
	color: #ffffff;
	font-family: Raleway;
	font-size: 52px;
	font-weight: 800;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
	/* Text style for "Portfolio" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;

	margin: 0;
	padding: 14px 0 19px 0;
	flex-basis: 100%;
}

.slider__text-item-2 {
	/* Style for "Nam liber" */
	color: #ffffff;
	font-family: 'montserrat';
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;
	text-align: center;
	/* Text style for "Nam liber" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;

	margin: 0;
	flex-basis: 100%;
}

.button {
	/* Style for "button" */
	/*width: 170px;
	height: 53px;*/
	box-shadow: inset 0 -3px 0 #736357;
	border-radius: 3px;
	background-color: #998675;

	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	line-height: 53px;
	padding: 0 37px;
	margin: 52px 0 0 0;
	
	/* Style for "Get Starte" */
	/*width: 94px;
	height: 11px;*/
	color: #ffffff;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 800;
	/*font-style: normal;*/
	letter-spacing: normal;
	/*line-height: 23px;*/
	text-align: center;
	text-transform: uppercase;
}

.button:hover,
.button:focus {
	opacity: 0.7;
}

.pagination {
    position: absolute;
    bottom: 42px;
    left: 50%;
    margin: 0 0 0 -65px;
}

.circle {
	width: 11px;
	height: 11px;
	background-color: #ffffff;
	opacity: 0.5;
    display: inline-block;
    vertical-align: middle;
}
/*
.circle:hover,
.circle:focus {
    background-color: #212121;
}
*/
.circle-active {
	width: 15px;
	height: 15px;
	border: 2px solid #d3c1ad;
}

/*SERVICES*/

.services {
	padding: 80px 0 80px 0;
}	

.services__list {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.services__item {
	width: 20%;
	text-align: center;
}

.services__item-icon {
	fill: #555555;
}

.services__item:hover .services__item-icon,
.services__item:focus .services__item-icon {
	fill: #c7b299;
}

.services__item:hover .services__item-title,
.services__item:focus .services__item-title {
	color: #c7b299;
}

.services__item-text {
	padding: 0 0 20px 0;
}

.services__item::after {
	content: "";
	display: block;
	margin: 0 auto;
	/* Style for "line" */
	width: 70px;
	height: 3px;
	background-color: #f1eee9;
}

.services__item:hover::after {
	background-color: #c7b299;
}

/*YOUR IDEAS*/

.ideas {
	background-color: #fbfaf8;
	padding: 83px 0 0 0;
}

.ideas__title {
	text-align: center;
}

.ideas__text {
	text-align: center;
}

.ideas__screens {
	padding: 40px 340px 0 340px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
}

.ideas__pic:first-child {
	position: absolute;
	left: 70px;
	z-index: 1;
}

.ideas__pic:nth-child(2) {
	margin: 0 auto;
	z-index: 2;
}

.ideas__pic:last-child {
	position: absolute;
	right: 70px;
	z-index: 1;
}

/*PURCHASE NOW*/

.purchase {
	background-color: #f4f5f8;
	background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
	padding: 50px 25px;
	display: flex;
	justify-content: space-between;
}

.purchase__title {
	margin: 0;
	color: #ffffff;
}

.purchase__text {
	margin: 0;
	padding: 8px 0 0 0;
	color: #615855;
}

.purchase__button {
	margin: 0;
	min-height: 50px;
}

/*OUR LATEST PROJECTS*/

.projects {
	padding: 80px 0;
}

.projects__title {
	text-align: center;
}

.projects__text {
	text-align: center;
}

.projects__list-buttons {
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.projects__list-photos {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.projects__link {
	
}

/*VIDEO*/

.video {
	position: relative;
}

.video__file {
  width: 100%;
  object-fit: cover;
}

.video__cover {
	position: absolute;
	top: 30%;
  	left: 20%;
}

.video__cover-button {
	width: 100%;
	margin: 0 auto;
}

.video__cover-title {
	text-align: center;
}

.video__cover-text {
	text-align: center;
}

.video__cover-time {
	text-align: center;
}

/*MOBILE FEATURES*/

.mobile-features {
	min-height: 695px;
	background-image: url(../img/phone_bg.jpg);
	background-color: #ffffff;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;

	padding: 0 10% 0 0;
}

.mobile-features__title {
	width: 40%;
}

.mobile-features__text {
	width: 40%;
}

.mobile-features__list {
	width: 40%;
}

/*NUMBERS*/

.numbers {
	padding: 69px 0 60px 0;
	background-color: #f4f5f8;
	background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.numbers__list {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

.numbers__item {
	text-align: center;
}

.numbers__item::after {
	content: "";
	display: block;
	margin: 0 auto;
	/* Style for "lines" */
	width: 30px;
	height: 2px;
	background-color: #ffffff;
}	

.numbers__item-icon {
	fill: #c7b299;
}

/*POSTS*/

.posts {
	padding: 80px 0;
}

.posts__title {
	text-align: center;
}

.posts__text {
	text-align: center;
}

.posts__list {
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.posts__button {

}

/*PARTNERS*/

.partners {
	background-image: url(../img/mounts_bg.jpg);
	background-color: #2c2f34;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.partners__list {
	min-height: 489px;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
}

.partners__item {

}