@font-face {
    font-family: 'Montserrat';
    src:
    	local('Montserrat'),  
    	url('../fonts/Montserrat/montserrat-thin-webfont.woff2') format('woff2'),
        url('../fonts/Montserrat/montserrat-thin-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src:
    	local('Montserrat'), 
    	url('../fonts/Montserrat/montserrat-regular-webfont.woff2') format('woff2'),
        url('../fonts/Montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat - Ultra Light';
    src:
    	local('Montserrat - Ultra Light'), 
    	url('../fonts/Montserrat/montserrat-extralight-webfont.woff2') format('woff2'),
        url('../fonts/Montserrat/montserrat-extralight-webfont.woff') format('woff');
    font-weight: 400l;
    font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
       url('../fonts/Raleway/Raleway-Bold.woff') format('woff'),
       url('../fonts/Raleway/Raleway-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
       url('../fonts/Raleway/Raleway-Medium.woff') format('woff'),
       url('../fonts/Raleway/Raleway-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway - Extra Bold';
  src: local('Raleway - Extra Bold'),
       url('../fonts/Raleway/Raleway-ExtraBold.woff') format('woff'),
       url('../fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway - Semi Bold';
  src: local('Raleway - Semi Bold'),
       url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff'),
       url('../fonts/Raleway/Raleway-SemiBold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
/*
*{
    box-sizing: border-box;
}

*::before, ::after {
    box-sizing: border-box;
}
*/
body {
    
}

.container {
	max-width: 1920px;
    margin: 0 auto;
}

.header {
	min-height: 1024px;
	background-image: url(../img/photo_bg.jpg);
	background-color: #474540;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	padding: 40px 0;
	position: relative;
}

.navigation {
	display: flex;
	justify-content: space-around;
}

.carusel {
	display: flex;
	justify-content: center;

	padding-top: 280px;
}

label,
#menu__mobile {
	display: none;
}

/*input[type="checkbox"]:checked ~ .menu__list {
	visibility: visible;
}*/

.menu__list, 
.menu2__list {
	list-style-type: none;
	display: flex;

	justify-content: space-between;
	align-content: center;
	height: 60px;
	margin: 0;
	flex-wrap: wrap;
}

.menu__list-item,
.menu2__list-item  {
	padding: 0 10px;
	display: flex;
	align-items: center;
}

.menu__list-link,
.menu2__list-link {
	color: #ffffff;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;

	text-decoration: none;

	display: block;
	width: 100%;
	/*height: 100%;*/
}

.menu__list-link:hover,
.menu__list-link:focus {
	color: #c7b299;
}

.icon-cart, 
.icon-search {
	fill: #ffffff;
}

.icon-cart:hover, 
.icon-search:hover {
	fill: #c7b299;
}

.icon-cart:focus, 
.icon-search:focus {
	fill: #c7b299;
}

.carusel-btn {
	/*display: block;
	width: 40px;
	height: 73px;
	border: 1px solid green;*/
	border: none;
}

.carusel-btn-pic {
	fill: #d3c1ad;
}

.carusel-btn:hover {
	opacity: 0.5;
}

.carusel-btn:nth-of-type(1) {
  margin: 0 200px 0 0;
}

.carusel-btn:nth-of-type(2) {
  margin: 0 0 0 200px;
}

.slider__text {
	width: 45%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.slider__text-item-1 {
	color: #ffffff;
	font-family: 'Raleway';
	font-size: 36px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;

	margin: 0;
	flex-basis: 100%;
}

.slider__text-title {
	color: #ffffff;
	font-family: 'Raleway';
	font-size: 52px;
	font-weight: 800;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;

	margin: 0;
	padding: 14px 0 19px 0;
	flex-basis: 100%;
}

.slider__text-item-2 {
	color: #ffffff;
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;
	text-align: center;

	margin: 0;
	width: 100%;
	/*flex-basis: 50%;*/
}

.button {
	box-shadow: inset 0 -3px 0 #736357;
	border-radius: 3px;
	background-color: #998675;
	
	color: #ffffff;
	font-family: 'Raleway - Extra Bold';
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	/*line-height: 23px;*/
	/*text-align: center;*/
	text-transform: uppercase;

	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	line-height: 53px;
	padding: 0 37px;
	margin: 52px 0 0 0;
}

.button:hover,
.button:focus {
	opacity: 0.7;
}

.pagination {
    position: absolute;
    bottom: 42px;
    left: 50%;
    margin: 0 0 0 -65px;
    /*width: 100%;
    display: flex;
    justify-content: center;*/
}

.circle {
	width: 11px;
	height: 11px;
	background-color: #ffffff;
	opacity: 0.5;
    display: inline-block;
    vertical-align: middle;
}
/*
.circle:hover,
.circle:focus {
    background-color: #212121;
}
*/
.circle-active {
	width: 15px;
	height: 15px;
	border: 2px solid #d3c1ad;
}

/*SERVICES*/

.services {
	padding: 80px 0 80px 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.services__list {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.services__item {
	width: 20%;
	text-align: center;
}

.services__item-icon {
	fill: #555555;
}

.services__item:hover .services__item-icon,
.services__item:focus .services__item-icon {
	fill: #c7b299;
}

.services__item:hover .services__item-title,
.services__item:focus .services__item-title {
	color: #c7b299;
}

.services__item-title {
	color: #555555;
	font-family: 'Raleway - Semi Bold';
	font-size: 22px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
}

.services__item-text {
	color: #8c8c8c;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;
	text-align: center;

	padding: 0 0 20px 0;
}

.services__item::after {
	content: "";
	display: block;
	margin: 0 auto;
	/* Style for "line" */
	width: 70px;
	height: 3px;
	background-color: #f1eee9;
}

.services__item:hover::after {
	background-color: #c7b299;
}

/*YOUR IDEAS*/

.ideas {
	background-color: #fbfaf8;
	padding: 83px 0 0 0;
}

.ideas__title {
	color: #555555;
	font-family: 'Raleway - Semi Bold';
	font-size: 30px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
}

.ideas__text {
	color: #8c8c8c;
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 28px;
	text-align: center;
}

.ideas__screens {
	padding: 40px 340px 0 340px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
}

.ideas__pic:first-child {
	position: absolute;
	left: 70px;
	z-index: 1;
}

.ideas__pic:nth-child(2) {
	margin: 0 auto;
	z-index: 2;
}

.ideas__pic:last-child {
	position: absolute;
	right: 70px;
	z-index: 1;
}

/*PURCHASE NOW*/

.purchase {
	background-color: #f4f5f8;
	background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
	padding: 50px 25px;
	display: flex;
	justify-content: space-between;
}

.purchase__title {
	color: #ffffff;
	font-family: 'Raleway';
	font-size: 28px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	
	margin: 0;
}

.purchase__title-color {
	color: #c7b299;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;

}

.purchase__text {
	color: #615855;
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;		

	margin: 0;
	padding: 8px 0 0 0;
	color: #615855;
}

.purchase__button {
	box-shadow: inset 0 -3px 0 #736357;
	border-radius: 3px;
	background-color: #998675;

	color: #ffffff;
	font-family: 'Raleway - Extra Bold';
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	/*line-height: 23px;*/
	text-align: center;
	text-transform: uppercase;

	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	line-height: 60px;
	padding: 0 37px;
	/*margin: 52px 0 0 0;*/

	margin: 0;
	/*min-height: 50px;*/
}

.purchase__button:hover,
.purchase__button:focus {
	opacity: 0.7;
}

/*OUR LATEST PROJECTS*/

.projects {
	padding: 80px 0;
}

.projects__title {
	color: #555555;
	font-family: 'Raleway - Semi Bold';
	font-size: 30px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
}

.projects__text {
	color: #8c8c8c;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 28px;
	text-align: center;

	/*width: 70%;*/
}

.projects__list {
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.projects__item {

}

.projects__list-buttons {
	/* Style for "button" */
	/*width: 120px;
	height: 32px;*/
	border-radius: 3px;
	border: 1px solid #ebebeb;
	background-color: #ffffff;

	/* Style for "Web Design" */
	/*width: 83px;
	height: 14px;*/
	color: #8c8c8c;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 21px;
	text-align: center;
	
	padding: 10px 25px;
	margin: 0 0 0 10px;
	/*line-height: normal;*/
}

.projects__list-buttons:first-child {
	/*margin: 0 0 0 0;*/
}

.projects__list-buttons:hover,
.projects__list-buttons:focus,
.projects__list-buttons:active {
	background-color: #998675;
	color: #ffffff;
}

.projects__list-card {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.projects__item-card-pic {
	display: block;
	width: 100%;
}

.projects__item-card-bg {
	width: 100%;
	background-color: #fbfaf8;
	position: relative;
}

.projects__item-card-bg:before {
	content: "";
	border: 10px solid transparent;	
	border-bottom: 10px solid #fbfaf8;;
	position: absolute;
	top: -20px;
	left: 19px;
}

.projects__item-card-title {
	color: #c7b299;
	font-family: 'Raleway';
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;

	margin: 0;
	padding: 30px 0 0 30px;
}

.projects__item-card-text {
	color: #d1d1d1;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 20px;
	text-align: left;

	margin: 0;
	padding: 0 0 30px 30px;
}

.projects__item-card {
	width: 370px;
	margin: 15px;
  	position: relative;
}

.projects__item-card-link,
.projects__item-card-search {
	width: 26px;
	height: 26px;
	display: none;
	background-size: cover;
	background-repeat: no-repeat;
  	background-position: center;
  	border: none;
  	background-color: transparent;
  	fill: #ffffff;
  	position: absolute;
  	top: 30%;
}

.projects__item-card-link {
	background-image: url(../img/link.png);
	left: 35%;
}

.projects__item-card-search {
	background-image: url(../img/lupa.png);
	left: 55%;
}

/*при наведении на карточку делает видимым элемент*/
.projects__item-card:hover .projects__item-card-link {
	display: block;
}

.projects__item-card:hover .projects__item-card-search {
	display: block;
}

.projects__item-card:hover .projects__item-card-link:hover {
	fill: #c7b299;
}

.projects__item-card:hover .projects__item-card-search:hover {
	fill: #c7b299;
}

.projects__item-card:hover .projects__item-card-pic {
	filter: brightness(20%);
}

.projects__item-card:hover .projects__item-card-bg {
	background-color: #362f2d;
}

/*обращение к псевдоэлменту-треугольник, при наведении на карточку треугольник меняет цвет*/
.projects__item-card:hover .projects__item-card-bg:before {
  border-bottom: 10px solid #362f2d;
}

.projects__button-wrp {
	text-align: center;
}

.projects__button {
	/* Style for "button" */
	width: 170px;
	height: 50px;
	box-shadow: inset 0 -3px 0 #736357;
	border-radius: 3px;
	background-color: #998675;

	/* Style for "Load More" */
	color: #ffffff;
	font-family: "Raleway - Extra Bold";
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 23px;
	text-align: center;
	text-transform: uppercase;

	border: 0px solid #ffffff;						
}

.projects__button:hover,
.projects__button:focus {
	opacity: 0.7;
}

/*VIDEO*/

.video {
	position: relative;
}

.video__file {
  width: 100%;
  object-fit: cover;
}

.video__cover {
	position: absolute;
	top: 30%;
  	left: 20%;
}

.video__cover-button {
	fill: #ffffff;
	width: 100%;
	margin: 0 auto;
}

.video__cover-title {
	font-family: 'Raleway';
	font-size: 30px;
	line-height: 1.2;
	font-weight: 500;
	color: #ffffff;

	text-align: center;
}

.video__cover-text {
	font-family: 'Montserrat';
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #ffffff;	

	text-align: center;
}

.video__cover-time {
	font-family: 'Montserrat';
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #c7b299;

	text-align: center;
}

/*MOBILE FEATURES*/

.mobile-features {
	/*min-height: 695px;
	background-image: url(../img/phone_bg.jpg);
	background-color: #ffffff;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;*/
	background-color: #fbfaf8;

	display: flex;
	justify-content: center;
	/*flex-direction: column;
	align-items: flex-end;*/

	/*padding: 0 10% 0 0;*/
	padding: 79px 0 0 180px;
}

.mobile-features-pic {

}

.mobile-features-wrp {
	width: 55%;
	padding: 100px 0 0 0;
}

.mobile-features__title {
	font-family: 'Raleway';
	font-size: 30px;
	line-height: 1.2;
	font-weight: 600;
	color: #555555;
}

.mobile-features__text {
	font-family: 'Montserrat';
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;
}

.mobile-features__list {
	list-style: none;
    margin: 0;
    padding: 0;
}

.mobile-features__item {
	font-family: 'Montserrat';
	font-size: 16px;
	line-height: 32px;
	font-weight: 300;
	color: #8c8c8c;

	/*padding: 0 0 0 50px;*/

	position: relative;
  	margin: 0 0 0 80px;
}

/*Добавление маркера к списку*/
.mobile-features__item::before {
    content: "";
    background-image: url(../img/list_arrow.png);
    display: inline-block; /*чтобы галка распологалась в одну линию с текстом*/
    vertical-align: middle; /*расположение по центру блока*/
    width: 21px; /*ширина inline-блока галки по макету*/
    height: 21px; /*высота inline-блока галки по макету*/
    background-repeat: no-repeat; /*выключение повторения фона картинки-галки*/
    background-size: contain; /*чтобы картинка-галка поместилась в указанный размер*/
    background-position: center center; /*располагаем по центру inline-блока*/
    margin-right: 29px; /*расстояние между маркером и текстом*/

    position: absolute;
  	left: -33px;
  	top: 8px;

  	transition: transform 1s ease-out,
              background-color 800ms ease,
              border-radius 1s ease-out;
}

.mobile-features__item:hover::before {
  transform: rotate(360deg);
  /*background-color: red;*/
  border-radius: 50%;
}

/*NUMBERS*/

.numbers {
	padding: 69px 200px 60px 200px;
	background-color: #f4f5f8;
	background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.numbers__list {
	margin: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

.numbers__item {
	text-align: center;
}

.numbers__item::after {
	content: "";
	display: block;
	margin: 0 auto;
	/* Style for "lines" */
	width: 30px;
	height: 2px;
	background-color: #ffffff;
}	

.numbers__item-icon {
	fill: #c7b299;
}

.numbers__item-title {
	font-family: 'Montserrat';
	font-size: 48px;
	line-height: 36px;
	font-weight: 200;
	color: #ffffff;

	margin: 0;
	padding: 30px 0 21px 0;
}

.numbers__item-text {
	font-family: 'Montserrat';
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	text-transform: uppercase;
	color: #c7b299;
	margin: 0;
	padding: 0 0 30px 0;
}

/*POSTS*/

.posts {
	padding: 80px 0;
}

.posts__title {
	font-family: 'Raleway';
	font-size: 30px;
	line-height: 1.2;
	font-weight: 600;
	color: #555555;

	text-align: center;
}

.posts__text {
	font-family: 'Montserrat';
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;

	text-align: center;
}

.posts__list {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

.posts__item {
	width: 370px;
	border: 1px solid #f8f8f8;
	position: relative;
}

.posts__item-date {
	position: absolute;
	top: 5%;
	left: 5%;
}

.posts__item-date-number {
	width: 50px;
	height: 35px;
	background-color: #363636;
	border-radius: 3px 3px 0px 0px;

	font-family: 'Montserrat';
	font-size: 24px;
	line-height: 20px;
	font-weight: 300;
	color: #ffffff;

	display: block; /*инлайновый элемент делаем блоком*/
	text-align: center; /*центрирование по горизонтали*/
	line-height: 35px; /*центрирование по вертикали*/
}

.posts__item-date-month {
	width: 50px;
	height: 25px;
	background-color: #252525;
	border-radius: 0px 0px 3px 3px;

	font-family: Roboto;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	color: #ffffff;

	display: block; /*инлайновый элемент делаем блоком*/
	text-align: center; /*центрирование по горизонтали*/
	line-height: 25px; /*центрирование по вертикали*/
}

.posts__item:hover .posts__item-pic {
	filter: brightness(20%);
}

.posts__item:hover .posts__item-wrp {
	background-color: #362f2d;
}

.posts__item:hover .posts__item-title {
	color: #c7b299;
}

.posts__item:hover .posts__item-text {
	color: #ffffff;
}

.posts__item:hover .posts__item-date-number {
	background-color: #c7b299;
	color: #ffffff;
}

.posts__item:hover .posts__item-date-month {
	background-color: #a48d72;
	color: #ffffff;
}

.posts__item-pic {
	display: block;
	width: 100%;
}

.posts__item-wrp {
	background-color: #ffffff;
	padding: 30px;
}

.posts__item-title {
	font-family: 'Raleway';
	font-size: 20px;
	line-height: 1.2;
	font-weight: 500;
	color: #555555;

	margin: 0;
}

.posts__item-text {
	font-family: 'Montserrat';
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
	color: #8c8c8c;

	margin: 0;
	padding: 19px 0 27px 0;
}
.posts__item-link {
	font-family: 'Montserrat';
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #c7b299;

	text-decoration: none;
	position: relative;
}

.posts__item-link:hover::after {
	content: '';
	width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 8px solid #c7b299;
    border-bottom: 5px solid transparent;

   	position: absolute;
   	top: 25%;
   	left: 110%;
}   	

.posts__button-wrp {
	text-align: center;
}

.posts__button {
	border: 0px solid #ffffff;
	background-color: #ffffff;
	fill: #d1d1d1;

	padding: 0;
	margin: 0 5px 0 0;
}

.posts__button:hover,
.posts__button:focus {
	fill: #c7b299;
}

/*.posts__button-arrow {
	display: block;
	text-align: center;
}*/

/*PARTNERS*/

.partners {
	background-image: url(../img/mounts_bg.jpg);
	background-color: #2c2f34;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	/*filter: brightness(33%); /*затемнение фона*/
	position: relative;
}

.partners::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.6);
  z-index: 1;
}

.partners__list {
	min-height: 489px;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 0;
}

.partners__item {
	z-index: 2;
}

.partners__item:hover {
	/*opacity: 0.6;*/
	transform: scale(1.5);
}

.partners__item-pic {

}

/*FOOTER*/

.footer {
	
}

.footer__bg {
	background-color: #191919;

	display: flex;
	justify-content: space-around;

	padding: 80px 0 80px 0;
}

.footer__about {
	width: 258px;
}

.footer__about-text {
	color: #555555;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;
	text-align: left;
}

.footer__about-link {
	color: #d1d1d1;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 20px;
	text-align: left;

	text-decoration: none;
	position: relative;
}

.footer__about-link:hover::after {
	content: '';
	width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 8px solid #d1d1d1;
    border-bottom: 5px solid transparent;

   	position: absolute;
   	top: 30%;
   	left: 110%;
}

.footer__title {
	color: #ffffff;
	font-family: 'Raleway';
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;	
}

.footer__posts {
	width: 260px;
}
.footer__posts-list {
	list-style-type: none;
	padding: 0;
}

.footer__posts-link {
	text-decoration: none;
}

.footer__posts-link-text1 {
	color: #363636;
	font-family: 'Montserrat';
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 20px;
	text-align: left;
}

.footer__posts-link-text2, 
.footer__twitter-text {
	color: #555555;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 20px;
	text-align: left;
}

.footer__posts-link:hover .footer__posts-link-text1 {
	color: #ffffff;
}

.footer__posts-link:hover .footer__posts-link-text2 {
	color: #c7b299;
}

.footer__posts-item,
.footer__twitter-item {
	border-bottom: 1px solid #252525;
}

.footer__posts-item:last-child,
.footer__twitter-item:last-child {
	border: none;
}

.footer__link {
	background-color: #111111;
}

.footer__link-text {
	/* Style for "Copyright" */
	color: #555555;
	font-family: 'Montserrat';
	font-size: 13px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 20px;
	text-align: left;
	border-right: 1px solid #252525;
	display: inline-block;
}

.footer__link-text:last-child {
	border: none;
}

.footer__twitter {
	width: 267px;
}

.footer__twitter-list {
	list-style-type: none;
	padding: 0;
}

.footer__twitter-link {
	color: #00bff3;
}

.footer__twitter-link2 {
	color: #959595;
}

.footer__twitter-time {
	color: #363636;
	font-family: 'Montserrat';
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 20px;
	text-align: left;
}

.footer__widget {
	width: 270px;
}

.footer__widget-list {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer__widget-item {
	padding: 0 0 5px 0;
}

.footer__widget-item:hover {
	opacity: 0.6;
}

.footer__link {
	padding: 45px 0 52px 0;
	display: flex;
	justify-content: space-around;
}	

.footer__link-list {
	width: 400px;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
	margin: 0
}

.footer__link-text, 
.footer__link-link, 
.footer__twitter-link,
.footer__twitter-link2  {
	text-decoration: none;
}

.footer__link-text:hover {
	color: #c7b299;
}

.pretext {
	color: #555555;
	font-family: 'Montserrat';
	font-size: 13px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 20px;
	text-align: left;

	margin: 0;
}

.footer__link-link {
	color: #959595;	
}

/*@media (max-width: 480px)*/
@media only screen and (max-device-width: 480px) {

	.header {
		min-height: auto;
		/*background-image: url(../img/photo_bg.jpg);
		background-color: #474540;
		background-size: 10%;
		background-position: center center;
		background-repeat: no-repeat;*/

		/*padding: 40px 40px;*/
	}

	.carusel {
		display: none;
	}

	.logo__link {
		/*display: none;*/
		/*width: 80%;*/
	}

	.navigation {
		display: block;
	}

	.mobile__menu-block {
		display: flex;
	    width: 100%;
	    flex-direction: row;
	    justify-content: space-around;
	    align-items: center; /*центрирование элементов по вертикали*/
	}

	label {
		display: block;
		width: 100px;
		height: 100px;
		border: 1px solid black;
		background-image:  url('https://cdn3.iconfinder.com/data/icons/mobile-friendly-ui/100/menu-128.png');
    	background-size: 100%;
	}

	.menu__list {
		visibility: hidden;
    	margin: 0 auto;
    	height: 0;
    	width: 100%;
    	flex-direction: column;

    	padding: 0;
    	flex-wrap: nowrap;
	}

	.menu2__list {
    	display: none;
    }	
	
	.menu__list-item {
		height: 50px;
		text-align: center;
		background-color: transparent;
	}

	.menu__list-link {
		font-size: 24px;
		text-align: center;
	}

	input[type="checkbox"]:checked ~ .menu__list {
		height: auto;
		visibility: visible;
	}

	.services__list {
		padding: 0;
		margin: 0 -30px 0 0;
	}

   	.services__item {
   		width: 40%;
   		padding: 0 30px 50px 0;
   	}

   	.services__item:nth-child(3) {
   		padding-bottom: 0;
   	}

   	.services__item:nth-child(4) {
   		padding-bottom: 0;
   	}

   	.ideas,
   	.purchase,
   	.projects,
   	.numbers {
   		display: none;
   	}

   	.video__cover {
   		left: 10%;
    	right: 10%;
   	}

   	.mobile-features {
   		padding: 5% 5% 0 5%;
   	}

   	.mobile-features-wrp {
   		padding: 0 0 5% 0;;
   	}

   	.posts__list {
   		flex-wrap: wrap;
   		margin: 0;
    	padding: 0;
   	}

   	.posts {
   		padding: 50px 0 0 0;
   	}

   	.posts__text {
   		font-size: 22px;
   		padding: 20px 100px;
   	}

   	.posts__item {
   		width: 670px;
   	}

   	.posts__item-pic {
   		height: 55%;
   	}

   	.posts__button-wrp {
   		display: none;
   	}

   	.partners__list {
   		min-height: 400px;
   	}

   	.footer__bg {
   		display: none;
   	}

   	.footer__link {
   		flex-wrap: wrap;
   	}

   	.footer__link-list {
   		flex-basis: 100%;
    	justify-content: center;
    	padding: 30px;
   	}

   	.pretext__padding {
   		padding: 0 30px;
   	}

   	.pretext,
   	.footer__link-text {
   		font-size: 20px;
   	}
}